$defultwidth: 1.7 * 550px;
$defultheight: 550px;

.image-load {
}

.container {
  margin: auto;
  position: relative;
}

.load-container {
  margin: auto;
  border: 2px dashed black;
  height: $defultheight;
  width: $defultwidth;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    width: 150px;
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}

.drag-and-drop {
  position: absolute;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
  width: $defultwidth;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px black dashed;
  height: $defultheight;
}

#upload-input {
  display: none;
}

.target {
  border: none;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;

  .img-info {
    font-weight: bolder;
  }

  .btn {
    font-weight: bolder;
  }
}

.pointer-container {
  margin-top: 20px;
  margin-left: 20px;
  text-align: start;
  font-size: 1.5rem;
  font-weight: bolder;
}
