.label-card-container {
  max-height: 88vh;
  margin-left: 30px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "1 1 1";
  grid-gap: 1rem;
  .delete {
    position: relative;
    margin: 10px auto;
    text-align: right;
    .delete-icon {
      padding: 0px 20px;
      font-weight: bolder;
      cursor: pointer;
      &:hover {
        color: crimson;
      }
    }
  }
  .card-color {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }
  p {
    margin-bottom: 5px;
  }
  .ant-card-grid {
    padding: 10px;
  }

  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
}
